{
    "address": "localhost",
    "port": 8080,
    "db_host": "localhost",
    "db_name": "test",
    "db_user": "admin",
    "db_password": "admin",
    "s3_access_key": "",
    "s3_secret_access_key": "",
    "s3_bucket_name": "",
    "s3_endpoint": ""
}